:root {
    --main-bg-color            : #FFFFFF;
    --secondary-bg-color       : #E9EAF5;
    --text-color               : #31337E;
    --heading-color            : #1D1E4F;
    --notif-banner             : #D3D7F8;
    --button-color             : linear-gradient(90deg, #a109d5, #d9147d);
    --loader-color             : #31337E;
    --eps-shadow               : 0px 4px 74px rgba(0, 0, 0, 0.25);
    --play-icon-color-primary  : #1d1e4f;
    --play-icon-color-secondary: #b40db7;
    --contributor-shadow       : none;
}